@if (Context.User.Identity.IsAuthenticated == true)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Perfil">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Compis">Compis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Managed" asp-action="Logout">Cerrar sesión @Context.User.Identity.Name</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Iniciar sesión</a>
    </li>
}